<?xml version="1.0"?>
<launch>
  <include file="$(find tiago_moveit_config)/launch/demo.launch">
     <arg name="robot" value="steel" />
  </include>

  <include file="$(find tiago_bartender_bringup)/launch/config_bringup.launch"/>

  <include file="$(find tiago_bartender_bringup)/launch/world_link.launch"/>

  <include file="$(find tiago_bartender_world)/launch/init_planning_scene.launch"/>
</launch>
