<?xml version="1.0"?>
<launch>
  <arg name="db" default="false"/>

  <include file="$(find tiago_moveit_config)/launch/demo.launch">
     <arg name="robot" value="steel" />
  </include>
  <param name="move_group/constraint_approximations_path" value="$(find tiago_bartender_mtc)/cadb" if="$(arg db)"/>
</launch>
